<mat-card *ngIf="product" [ngClass]="{'text-center': !fullWidthMode}">
    <div [ngClass]="{flex: fullWidthMode}">
        <img alt="product image"
         class="mb-1 mx-auto"
        [ngClass]="{'h-200px': !fullWidthMode, 'h-[360px]': fullWidthMode}"
        [src]="product.image"
        />
        <div class="w-full text-black" 
            [ngClass]="{'px-8 flex flex-col justify-between': fullWidthMode}">
            <div class="bg-slate-50">
                <h5>{{ product.category }}</h5>
                <p class="truncate hover:whitespace-normal">{{product.title}}</p>
                <p *ngIf="fullWidthMode">{{product.description}}</p>
            </div>
        </div>
        <div class="flex justify-between mx-1 bg-gray-200">
            <span class="text-red-400"> {{ product.price | currency: '£' }} </span>
            <button (click)="onAddToCart()">
                <mat-icon class="text-gray-500">shopping_cart</mat-icon>
            </button>
        </div>
    </div>
</mat-card>
